.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}
.containerBody{
    width: 50%;

}

.imagen{
    width: 400px;
    height: 350px;

}
